.container{ 
    display: grid;
    background-color: white;
    grid-template-columns: repeat(5, 1fr);
    border: rgb(223, 150, 150) 1px solid;
}
.box{
    border: rgb(241, 227, 209) 1px solid;
    box-sizing: border-box;
    justify-items: center;
    padding: 1rem;
    font-family:  'Lato', sans-serif;
    display: grid;
   } 

.img{
    max-height: 50px;
    place-self: center;
}

 h4 {
    font-family: 'Bebas Neue', cursive;
    
}

 h2 {
    font-family: 'Lato', sans-serif;

}

