 body {
    background: #ee9ca7;  
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
    background: linear-gradient(to right, #ffdde1, #ee9ca7); 
}
.container{ 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: rgb(233, 97, 215) 1px solid;
    background-color: white;
        }

.box{
    border: rgb(241, 227, 209) 1px solid;
    box-sizing: border-box;
    justify-items: center;
    padding: 1rem;
    font-family:  'Lato', sans-serif;
    display: grid;
    grid-template-rows: 1fr 50px 50px 110px;
   } 

   h1{
       text-align: center;
      font-family: 'Roboto Mono', monospace; 
   }
.img{
    place-self: center;
}

 h4 {
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    place-self: center;
}

 h2 {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    place-self: center;
}

footer{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 1rem;
}

