body {
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 25px;
    display: grid;
    }
.container {
        display: grid;
        grid-template-columns: 80px 50px 80px;
        grid-template-rows: 60px auto 60px; 
        grid-gap: 25px 20px;
      }
    
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(14, 13, 13);
    padding: 1rem;
    margin: 0;
    }

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
    margin: 0;
    color: rgb(21, 156, 123);
    text-align: center;
    }

ul {
        color: #f9a91a;
        list-style: none;
        margin: 1rem;
        padding: 1rem;
        width: 200px;
        line-height: 30px;

    }
    
a {
        display: inline-flex;
        text-decoration: none;
        color: rgb(206, 79, 6);
        padding-left: 8px;
    }
    
 a:hover {
        background:  rgb(133, 255, 224);;
    }
    
a:active {
        background: rgb(247, 94, 6);
        color: #fff; 
    }

    span {
        justify-self: center;
    }
        