body {
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 25px;
    display: grid;
    }
.container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr 2fr; 
        grid-gap: 25px 20px;
      }
    
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(14, 13, 13);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    }

p {
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    margin: 0;
    color: rgb(21, 156, 123);
    text-align: center;
    }

ul {
        color: #f9a91a;
        list-style: none;
        margin: 1rem;
        padding: 1rem;
        width: 200px;
        line-height: 30px;

    }
    
a {
        text-decoration: none;
        color: deeppink;
        margin: 0;
        font-family: 'Open Sans Condensed', sans-serif;   
    }
li {
    justify-self: self-start;
}
    
 a:hover {
        background: rgb(197, 243, 245);
    }
    
a:active {
        background: rgb(253, 183, 210);
        color: #fff; 
    }

    span {
        justify-self: center;
    }
    
/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans Condensed', sans-serif;*/