body { 
    margin: 0;
    font: normal 12px/18px 'Helvetica', Arial, sans-serif;
    background: #44accf;
}
/* Positioning Rules */
#container { 
    width: 900px;
    margin: 0 auto;
}
#content { 
    position: relative; 
    padding: 20px 250px 60px 20px;
    background: #fff;
}
#nav { 
    height: 50px;
    background: #b7d84b;
}
#callout { 
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: -80px;
    width: 210px;
    padding: 0 20px;
    border-top: 5px solid #f95b34;
    background: #fa8366;
}
#footer { 
    position: fixed;
    bottom: 0;
    width: 860px;
    padding: 0 20px;
    background: #f36283;
}

/* Stylistic Rules */
#nav a {
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    border-right: 1px solid #91ab3b;
}
#nav a:hover {
    background: #91ab3b;
}
#callout p {
    color: #fff;
}