/*Example H shows a full-screen, two-column layout. While this likely isn’t the best approach to a two-column layout, it still shows the power the absolute value holds.*/
#box_1 { 
	position: absolute;
	top: 0;
	right: 20%; 
	bottom: 0;
	left: 0;
	background: #ee3e64;
}

#box_2 { 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 80%; 
	background: #b7d84b;
}