body {
    font-family: sans-serif;
}

nav {
   /* outline: 1px solid yellow;*/
}

    ul {
       /* outline: 1px solid blue; */
        list-style: none;
        padding: 0;
        margin: 0;
        background: #2e2e2a;
        line-height: 40px;
    }
    
    li{
       /* outline: 1px solid red;*/
        width: 100px;
        display: inline-block;
        text-align: center;
    }

    a {
       /* outline: 1px solid green; */
        text-decoration: none;
        display: block;
        color: #fff;
    }

    a:hover {
        background: #f9a91a;
        color: #000;
    }